@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>水表采集收费系统</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>
    <script type="text/javascript" src="~/Scripts/outlook2.js"></script>

    <script type="text/javascript">
        $(function () {
            //读取动态变化的时间
            ReadDateTimeShow();
            //这里实现对时间动态的变化
            var setTimeInterval = setInterval(ReadDateTimeShow, 1000);

            setInterval(keep, 180000);
        });

        function keep() {
            $.get("/Home/Online");
        }

        //读取动态变化的时间
        function ReadDateTimeShow() {
            var year = new Date().getFullYear();
            var month = new Date().getMonth() + 1;
            var day = new Date().getDate();
            var time = new Date().toLocaleTimeString();
            var addDate = year + "年" + month + "月" + day + "日 " + time;
            $("#date").text(addDate);
        }
    </script>

    <script type="text/javascript">        
        //var _menus = {
        //    "default": [
        //        {
        //            "menuid": "1", "icon": "icon-computer", "menuname": "权限管理",
        //            "menus": [
        //                      { "menuid": "13", "menuname": "用户管理", "icon": "icon-user", "url": "/User/Index" },
        //                      { "menuid": "14", "menuname": "组织机构管理", "icon": "icon-organ", "url": "/OU/Index" },
        //                      { "menuid": "15", "menuname": "角色管理", "icon": "icon-group-key", "url": "/Role/Index" },
        //                      { "menuid": "16", "menuname": "功能管理", "icon": "icon-key", "url": "/Function/Index" },
        //                      { "menuid": "17", "menuname": "登陆日志", "icon": "icon-view", "url": "/LoginLog/Index" }
        //            ]
        //        },
        //       {
        //           "menuid": "2", "icon": "icon-user", "menuname": "其他管理",
        //           "menus": [{ "menuid": "21", "menuname": "修改密码", "icon": "icon-lock", "url": "javascript:ShowPasswordDialog()" }
        //           ]
        //       }
        //    ],
        //    "point": [
        //        {
        //            "menuid": "3", "icon": "icon-computer", "menuname": "事务中心",
        //            "menus": [
        //                      { "menuid": "33", "menuname": "测试菜单1", "icon": "icon-user", "url": "../Commonpage/building.htm" },
        //                      { "menuid": "34", "menuname": "测试菜单2", "icon": "icon-organ", "url": "../Commonpage/building.htm" },
        //                      { "menuid": "35", "menuname": "测试菜单3", "icon": "icon-group-key", "url": "../Commonpage/building.htm" },
        //                      { "menuid": "36", "menuname": "测试菜单4", "icon": "icon-key", "url": "../Commonpage/building.htm" }
        //            ]
        //        },
        //        {
        //            "menuid": "4", "icon": "icon-user", "menuname": "其他菜单",
        //            "menus": [{ "menuid": "41", "menuname": "测试菜单5", "icon": "icon-lock", "url": "../Commonpage/building.htm" }]
        //        }
        //    ]
        //};

        var _menus = {};
        //同步获取
        $.ajax({
            type: 'GET',
            url: '/Menu/GetMenuData?r=' + Math.random(),
            async: false,//同步
            dataType: 'json',
            success: function (json) {
                _menus = json;
            },
            error: function (xhr, status, error) {
                alert("操作失败"); //xhr.responseText
            }
        });

        //function showSubMenu(url, title, menuCategory, defaultIcon) {
        //    if (defaultIcon == null || defaultIcon == "") {
        //        defaultIcon = "icon-table";
        //    }
        //    addTab(title, url, "icon " + defaultIcon);
        //    Clearnav();
        //    if (menuCategory != "") {
        //        addNav(_menus[menuCategory]);
        //    }
        //}
	</script>

    <script type="text/javascript">
        //弹出修改密码的对话框
        function ShowPasswordDialog() {
            $("#divModPass").dialog('open').dialog('setTitle', '修改用户密码');
        }

        function ModifyPass() {
            //首先表单进行检测
            var validate = $("#ffModPass").form("validate");
            if (validate == false) {
                return false;
            }

            if ($("#txtNewPass").val() == "") {
                $("#txtNewPass").focus();
                $.messager.alert("提示", '新密码不能为空');
                 return;
            }
            if ($("#txtNewPass").val() != $("#txtCheckPass").val()) {
                $("#txtNewPass").focus();
                $.messager.alert("提示", "两次输入的密码不一致"); return;
            }
            
            var postData = { Name: $("#txtName").val(), OldPass: $("#txtOldPass").val(), NewPass: $("#txtNewPass").val() };
            $.ajax({
                type: 'POST',
                url: '/User/ModifyPass?r=' + Math.random(),
                data: postData,
                dataType: 'json',
                success: function (data) {
                    if (data.Success) {
                        showTips("操作成功");

                        $("#divModPass").dialog('close');
                    }
                    else {
                        showError("操作失败：" + data.ErrorMessage, 3000);
                    }
                }
            });
        }
    </script>
</head>

<body style="overflow-y:hidden;" scroll="no">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <noscript>
            <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:99%; background:white; text-align:center;">
                <img src="~/Content/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
            </div>
        </noscript>
        <form id="form1">

            <!--顶部Banner-->
            <div region="north" id="header">
                <div class="userinfo" style="display:block">
                    <font color="red">@ViewBag.FullName</font>，您好！
                </div>              
                <ul class="button">
                    <li>
                        当前时间：<b id="date"></b>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="javascript:ShowPasswordDialog()" title="修改用户密码">
                            <img border="0" src="~/Content/Themes/Default/btn_hd_support.gif" title="修改用户密码" alt="修改用户密码" />
                        </a>
                    </li>
                    <li style="display:none;">
                        <a href="#" onclick="addTab('在线帮助', 'userGuid.htm', 'icon icon-help')" title="在线帮助">
                            <img border="0" src="~/Content/Themes/Default/btn_hd_help.gif" title="在线帮助" alt="在线帮助" />
                        </a>
                    </li>
                    <li>
                        <a href="/Login/Index" title="注销"><b><img border="0" src="~/Content/Themes/Default/btn_hd_exit.gif" title="注销" alt="注销" /></b></a>
                    </li>
                </ul>
            </div>

            <!--左侧导航菜单-->
            <div region="west" split="true" title="导航菜单" style="width:200px;padding:1px;overflow:hidden;">
                <div id="nav" class="easyui-accordion" fit="true" border="false">                
                </div>
            </div>

            <!--主工作区-->
            <div id="mainPanle" region="center" title="" style="overflow:hidden;">
                <div id="tabs" class="easyui-tabs" border="false" data-options="fit:true"></div>
            </div>

            <!--Tab上菜单操作-->
            <div id="mm" class="easyui-menu" style="width:150px;">
                <div id="mm-tabupdate">刷新</div>
                <div class="menu-sep"></div>
                <div id="mm-tabclose">关闭</div>
                <div id="mm-tabcloseall">全部关闭</div>
                <div id="mm-tabcloseother">除此之外全部关闭</div>
                <div class="menu-sep"></div>
                <div id="mm-tabcloseright">当前页右侧全部关闭</div>
                <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
                <div class="menu-sep"></div>
                <div id="mm-exit">退出</div>
            </div>

            <!--底部版权标识-->
            <div data-options="region:'south',split:true" style="height: 30px;background: #D2E0F2;">
                <div class="easyui-layout" data-options="fit:true" style="padding:5px;height: 30px;background: #D2E0F2;text-align:center;color:#15428B;font-weight:bold;">
                    版权所有： @ViewBag.AppCompanyName 
                    问题反馈EMAIL：<a href="mailto:wangshulei@rthitech.com.cn">wangshulei@rthitech.com.cn</a> 
                </div>
            </div>
        </form>

        <div id="divModPass" class="easyui-dialog" style="width:350px;height:260px;padding:10px 20px"
             closed="true" resizable="true" modal="true" iconcls="icon-setting">
            <form id="ffModPass" method="post" novalidate="novalidate">
                <table cellspacing="1" cellpadding="0" border="0" width="100%">
                    <tr style="height: 40px;">
                        <th style="width: 100px; font-weight: bold; text-align: right;">原密码：</th>
                        <td style="width: 200px">
                            <input type="hidden" id="txtName" value="@ViewBag.Name" />
                            <input type="password" id="txtOldPass" maxlength="30" />
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <th style="width: 100px; font-weight: bold; text-align: right;">新密码：</th>
                        <td style="width: 200px">
                            <div style="float: left; margin-top: 2px;">
                                <input type="password" id="txtNewPass" maxlength="30" class="easyui-validatebox" data-options="required:true,validType:'length[1,30]'" />
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <th style="width: 100px; font-weight: bold; text-align: right;">确认新密码：</th>
                        <td style="width: 200px">
                            <input type="password" id="txtCheckPass" maxlength="30" class="easyui-validatebox" data-options="required:true,validType:'length[1,30]'" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="20"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-lock" id="btnModifyPass" onclick="ModifyPass()">提交</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#divModPass').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>
