<!DOCTYPE html>
<html>
<head>
    <title>远程功能</title>
    <script src="~/Scripts/SignalR/jquery-1.6.4.min.js"></script>
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>
    <script src="../../Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/dbjs.js"></script>
    <script type="text/javascript">     
        var username = "";
        $(function () {
            var queryData = {};
            Init(queryData);       
            initDeptTreeview();
        });

        var easyui_tree_options = {
		length : 0,  //层数
		getLevel : function(treeObj, node){	//treeObj为tree的dom对象，node为选中的节点
			while(node != null){
				node = $(treeObj).tree('getParent', node.target)
				easyui_tree_options.length++;
			}
			var length1 = easyui_tree_options.length;
			easyui_tree_options.length = 0;		//重置层数
			return length1;
		    }
        }

        function initDeptTreeview() {
            $("#loading").show();
            $('#treeDept1').tree({
                url: '/ArcCustomerInfo/TreeCommunity_Server',
                onBeforeSelect: function (node) {
                    fujiText = node.text;

                },
                onClick: function (node) {

                    var Text = $("#treeDept1").tree("getParent", node.target);

                    var Treelevel = easyui_tree_options.getLevel(this, node);

                    var ParentText = "";
                                                               
                    if (Treelevel == 4) {

                        ParentText = $("#treeDept1").tree("getParent", Text.target)

                    }
                    var queryData = {
                        "IntCustNO": $("#IntCustNO").val(),
                        "NvcName": $("#NvcName").val(),
                        "VcMobile": $("#VcMobile").val(),
                        "VcAddr": $("#VcAddr").val(),
                        "flag": $("#flag").combobox("getValue"),
                        WHC_Fuji: Text.text,
                        WHC_Text: node.text,
                        WHC_Treelevel: Treelevel.toString(),
                        WHC_TreePrentText: ParentText.text
                    }; 
                    Init(queryData);
                }
            });
            $("#loading").fadeOut(500);
        }


        //前端调用webserver
        @*function setControler(sAddr, iCmdType) {

            var iUserNo = '@Session["UserID"]';         
            loading.show();
            //这是我们在第一步中创建的Web服务的地址
            var URL = "http://118.190.199.54:9009/FrontService/FrontService.asmx";
            //在这处我们拼接
            iCmdType = parseInt(iCmdType);
            iUserNo = parseInt(iUserNo);
            data = '<?xml version="1.0" encoding="utf-8"?>';
            data = data + '<soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">';
            data = data + '<soap12:Body>';
            data = data + '<SendValveCmd xmlns="http://tempuri.org/" >';
            data = data + '<sAddr>' + sAddr + '</sAddr>';
            data = data + '<iCmdType>' + iCmdType + '</iCmdType>';
            data = data + '<iUserNo>' + iUserNo+ '</iUserNo>';
            data = data + '</SendValveCmd>';
            data = data + '</soap12:Body>';
            data = data + '</soap12:Envelope>';

            alert(data)

            try {
                //创建异步对象
                var xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                xmlhttp.Open("POST", URL, false);
                xmlhttp.SetRequestHeader("Content-Type", "application/soap+xml");
                xmlhttp.Send(data);
                if (xmlhttp.readyState == 4) {
                    if (xmlhttp.status == 200) {
                        var textHTML = xmlhttp.responseText;
                        alert(textHTML);
                        var result = jQuery.parseXML(textHTML);
                        $(result).find('SendValveCmdResponse').each(function () {
                            result = $(this).children('SendValveCmdResult').text();
                        });
                        if (result == "0")
                        {
                            showTips("指令下发成功！")
                        } else
                        {
                            showError("指令下发失败！",5000)
                        }
                    }
                }
                loading.hide();
            }
            catch (ex) {
                loading.hide();
                showError(ex,5000);
            };
        }*@

        var IDgridOpenClose = '#gridOpenClose';

        function getSelectVcAddr() {
            var rows = $(IDgridOpenClose).datagrid('getChecked');
            var sAddr = "";
            if (rows.length == 0) {
                showError("请先勾选水表!");
                return null;
            }
            for (var i = 0; i < rows.length; i++) {
                if (i == 0) {
                    sAddr = rows[i].VcAddr
                } else {
                    sAddr += "," + rows[i].VcAddr;
                }
            }
          //  alert(sAddr);
            iCmdType = $("#ddlOpenClose").combobox('getValue')
            ////插入数据库方式
            //SettingMeterValve(sAddr, iCmdType);

            ////webserver方式
            //setControler(sAddr, iCmdType)
        };

        function SettingMeterValve(sAddr, iCmdType) {
            loading.show();
            $.ajax({
                url: '/ArcMeterInfo/SettingMeterValve',
                dataType: 'json',
                data: { sAddr: sAddr, iCmdType: iCmdType },
                success: function (result) {
                    if (result.Success) {
                        loading.hide();
                        alert("任务下发成功");
                    } else {
                        loading.hide();
                        alert("任务下发失败");
                    }
                }
            });
            return false;
        }

        //信息查询
        function Init(queryData) {
            $(IDgridOpenClose).datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/ArcMeterInfo/ListByIntConID_Submit',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                // title: '水表列表',
                // iconCls: 'icon-view',
                height: document.body.clientHeight - 163,
                width: function () { return document.body.clientWidth * 0.8 - 20 },//自动宽度
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
               
                //singleSelect: true,
                idField: 'IntID', //不设置idField，翻页不会记录选择
                queryParams: queryData,  //异步查询的参数
                columns: [[
                    { field: 'ck', checkbox: true },   //选择
                    { title: '编号', field: 'IntID', width: 60, sortable: true,hidden:true},
                    { title: '通信地址', field: 'VcAddr', width: 120, sortable: true },
                    { title: '客户编号', field: 'IntCustNO', width: 120, align: 'center', sortable: true },
                    { title: '客户名称', field: 'VcCustName', width: 120, align: 'center', sortable: true },
                    { title: '手机号', field: 'VcMobile', width: 120, sortable: true },
                    { title: '用户小区', field: 'NvcVillage', width: 120, sortable: true },
                    { title: '用户楼栋', field: 'VcBuilding', width: 80, sortable: true },
                    { title: '用户单元', field: 'IntUnitNum', width: 80, sortable: true },
                    { title: '用户门牌号', field: 'IntRoomNum', width: 80, sortable: true },
                    {
                        title: '账户余额', field: 'Fee', width: 80, sortable: true,align: 'right',
                        //改变cell字体
                        formatter: function (value, index, row) {
                            if (value <= 0) { return '<span style="color:red">' + value + '</span>' } else {
                                return '<span style="color:green">' + value + '</span>'
                            }
                        }
                    },
                    //{ title: '安装地址', field: 'NvcAddr', width: 120, sortable: true },
                    //{ title: '条形码', field: 'VcBarCode', width: 100, align: 'center', sortable: true }
                ]],
                onLoadSuccess: function () {
                    $(this).datagrid('clearSelections');
                },
                //改变行背景颜色
                //rowStyler: function (index, row) {
                //    if (row.Fee <= 0) {
                //        return 'background-color:#FFF0F5;';
                //    }
                //},
                onDblClickRow: function (rowIndex, rowData) {

                }

            });
        };
        function submit() {
            var queryData = {
                "IntCustNO": $("#IntCustNO").val(),
                "NvcName": $("#NvcName").val(),
                "VcMobile": $("#VcMobile").val(),
                "VcAddr": $("#VcAddr").val(),
                "flag": $("#flag").combobox("getValue"),              
            };
            Init(queryData);
            return false;
        }

        //对象居中的函数，调用例子：$("#loading").center();
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }
    </script>
</head>
<body>
    <div class="easyui-layout" style="width: 700px; height: 700px;" fit="true">
        <div data-options="region:'west',split:true,title:'',iconCls:'icon-book'" style="width: 230px; padding: 1px;">
            <div class="easyui-tabs" style="width:200px;">
                <div title="用户列表" style="padding:10px;">
                    <ul id="treeDept1"></ul>
                </div>
            </div>
        </div>
        <div id="tbEdit" data-options="region:'center',split:true,title:'远程参数设置',iconCls:'icon-setting'" style="padding: 5px; height: auto">
            <div fit="false">
                <fieldset id="condition">
                    <legend>信息查询</legend>
                    <form id="ffSearch" method="post">
                        <div id="toolbar">
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    <th style='padding: 3px;'>
                                        <label for="NvcName">用户编号：</label>
                                    </th>
                                    <td style='padding: 3px;'>
                                        <input type="text" id="IntCustNO" class="text-info" style="width: 100px" />
                                    </td>
                                    <th style='padding: 3px;'>
                                        <label for="NvcAddr">用户名：</label>
                                    </th>
                                    <td style='padding: 3px;'>
                                        <input type="text" id="NvcName" style="width: 100px" />
                                    </td>
                                    <th style='padding: 3px;'>
                                        <label for="VcAddr">手机号：</label>
                                    </th>
                                    <td style='padding: 3px;'>
                                        <input type="text" id="VcMobile" style="width: 100px" />
                                    </td>
                                    <th style='padding: 3px;'>
                                        <label for="VcSimNo">通信地址：</label>
                                    </th>
                                    <td style='padding: 3px;'>
                                        <input type="text" id="VcAddr" style="width: 100px" />
                                    </td>
                                    <th style='padding: 3px;'>
                                        <label for="VcSimNo">是否欠费：</label>
                                    </th>
                                    <td style='padding: 3px;'>
                                        <select id="flag" name="flag" class="easyui-combobox" style="width: 100px;" data-options="required:true">
                                            <option value="1">已欠费</option>
                                            <option value="2">未欠费</option>
                                        </select>
                                    </td>
                                    <td style='padding: 3px; text-align: right'>
                                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="submit()">查询</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </fieldset>
                <div id="divTab" class="easyui-tabs">
                    <div id="divOpenClose" title="远程开关阀" style="padding: 10px" data-options="iconCls:'icon-key'">
                        <div style="margin: 2px;">
                            <label for="txtNvcAddr">控制指令：</label>
                            <select id="ddlOpenClose" name="ddlOpenClose" class="easyui-combobox" style="width: 100px;" data-options="required:true">
                                <option value="1">关阀</option>
                                <option value="2">开阀</option>
                            </select>
                            <a href="#" style="width: 100px;" class="easyui-linkbutton" iconcls="icon-ok" name="btnSaveOpenClose" onclick="getSelectVcAddr()">下发指令</a>
                        </div>
                        <table id="gridOpenClose" style="width: 940px" title="用户列表" data-options="iconCls:'icon-view'"></table >                       
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
