@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>企业信息化平台管理系统</title>
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>
    <script type="text/javascript">

        //初始化公司
        function initCompany() {
            $('#txtCompany_ID').combotree({
                url: '/User/GetMyDeptTreeLevel2Json_Server',
                required: true,
            })
        }

        //根据用户角色初始化功能树
        function initTreeFunction(json) {
            $("#loading").show();
            $('#treeFunctionView').tree({
                checkbox: true,
                cascadeCheck: false,
                data: json,
                onClick: function (node, checked) {
                    console.log(node);
                    if (checked) { //得到父节点
                        console.log(node);
                        var node1 = $('#treeFunctionView').tree('getParent', node.target);
                        //选中父节点
                        $('#treeFunctionView').tree('check', node1.target);
                    }
                }
            });
            $("#loading").fadeOut(500);
        }

        //初始化角色列表
        function initRoleTree() {
            $("#loading").show();
            $('#treeRole').tree({
                url: '/Role/GetMyRoleTreeJson_Server',
                onClick: function (node) {
                    loadData(node.id);
                }
            });
            $("#loading").fadeOut(500);
        }

        //供弹出窗口关闭后刷新关系
        function reloadRelation() {
            var id = $("#txtID").val();
            loadData(id);
        }

        //加载制定的对象数据
        function loadData(id) {
            $.ajax({
                url: "/Role/Sys_Role_GetRoleUserByID_Server?r=" + Math.random() + "&id=" + id,
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    if (json.Success && json.Data1) {
                        var data1 = JSON.parse(json.Data1);
                        var data2 = JSON.parse(json.Data2);
                        var data3 = JSON.parse(json.Data3);
                        $("#txtID").val(data1.IntID);
                        $("#txtName").val(data1.NvcName);
                        $("#txtNote").val(data1.NvcNote);
                        $("#txtHandNo").val(data1.NvcHandNo);
                        $("#txtSortCode").val(data1.NvcSortCode);
                        var isAdmin = '@Session["Company_ID"]'==1?$('#txtCompany_ID').combotree('enable'): $('#txtCompany_ID').combotree('disable');
                        $('#txtCompany_ID').combotree('setValue', data1.NvcComID);

                        //可操作功能树
                        initTreeFunction(data2)
                        //角色的用户列表
                        initRoleUsers(data3);
                        //初始化编辑页面 已添加用户
                        reloadUserAdd(data3);
                    }
                    else {
                        $.messager.alert("温馨提示", json.ErrorMessage);
                    }
                },
                error: function () {
                    showError("网络错误!");
                    $.messager.progress('close');
                }
            });
        }

        function initRoleUsers(json) {
            $('#lbxUsers').empty();
            $.each(json, function (i, item) {
                $('#lbxUsers').append('<option value="' + item.IntID + '" >' + item.NvcFullName + '</option>');
            });
        }

        //保存角色菜单
        function saveMenuFunction() {
            var id = $("#txtID").val();
            if (id == "") {
                $.messager.alert("提示", "请选择角色");
                return;
            }
            var functionList = new Array();
            var nodes = $('#treeFunctionView').tree('getChecked');
            for (var i = 0; i < nodes.length; i++) {
                    functionList.push(nodes[i].id);
            }
            $.ajax({
                type: 'POST',
                url: '/Role/Sys_Role_MenuSave_Server',
                dataType: 'json',
                async: false,
                data: { roleId: id, newList: functionList.join(',') },
                success: function (result) {
                    if (result.Success) {
                        showTips("操作成功！ ");
                        //initRoleFunction(result.Data1)
                        //$("#tabViewRole").tabs("select",0);
                    } else {
                        showError("操作失败！ " + result.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    showError("操作失败！网络异常！"); //xhr.responseText
                }
            });
        }

        //保存对象数据
        function saveData() {
            if ($("#txtName").val() == "") {
                $("#txtName").focus();
                $.messager.alert("提示", "角色名称不能为空");
                return;
            }
            var url = '/Role/Sys_Role_Opr_Server?type=' + 0 + '&id=' + 0;
            var id = $("#txtID").val();
            if (id != "") {
                var url = '/Role/Sys_Role_Opr_Server?type=' + 1 + '&id=' + id;
            }
            var postData = $("#ffAdd").serializeArray();
            $.post(url, postData, function (json) {
                var data = $.parseJSON(json);
                if (data.Success) {
                    showTips("操作成功");
                    initRoleTree();
                }
                else {
                    showError("操作失败:" + data.ErrorMessage);
                }
            }).error(function () {
                $.messager.alert("提示", "您未被授权使用该功能，请重新登录测试或联系管理员进行处理。", 'warning');
            });
        }

        //新增清空控件
        function addData() {
            $("input[type=text][id*='txt']").val("");
            $("textarea[id*='txt']").empty();
            $("select[id*='lbx']").empty();
        }

        //删除角色记录
        function delData() {
            var id = $("#txtID").val();
            if (id == "") {
                $.messager.alert("提示", "请选择记录");
                return;
            }
            $.messager.confirm("删除确认信息", "您要确定删除该条记录吗？", function (action) {
                if (action) {
                    $.ajax({
                        type: 'POST',
                        url: '/Role/Sys_Role_Del_Server?id=' + id,
                        dataType: 'json',
                        data: { ID: $("#txtID").val() },
                        success: function (data) {
                            if (data.Success) {
                                showTips("操作成功");
                                initRoleTree();
                            }
                            else {
                                showError("操作失败：" + data.ErrorMessage, 3000);
                            }
                        }
                    });
                }
            });
        }

        //删除用户
        function deleteUser() {
            var removeList = userIdlist;
            $('#lbxUsers option:selected').each(function (i, selected) {
                var removeid = $(selected).val();
                removeList = $.grep(removeList, function (value) {
                    return value != removeid;
                });
            });
            var url = "/Role/Sys_Role_UserSave_Server";
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: { roleId: $("#txtID").val(), addList: '', newList: removeList.join(',') },
                success: function (id) {
                    showTips("操作成功！ ");
                },
                error: function (xhr, status, error) {
                    showError("操作失败"); //xhr.responseText
                }
            });
            reloadRelation();
        }

        //对象居中的函数，调用例子：$("#loading").center();
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }

        //初始化对象
        $(document).ready(function () {
            //初始化公司列表
            initCompany();

            $("#roleExpand").bind("click", function () {
                expandAll("treeRole");
            });
            $("#roleCollapse").bind("click", function () {
                collapseAll("treeRole");
            });

            //初始化角色树
            initRoleTree();
            $("#functionExpand").bind("click", function () {
                expandAll("treeFunctionView");
            });
            $("#functionCollapse").bind("click", function () {
                collapseAll("treeFunctionView");
            });

            //角色包含机构的树刷新
            $("#roleDeptExpand").bind("click", function () {
                expandAll("treeRoleDeptView");
            });
            $("#roleDeptCollapse").bind("click", function () {
                collapseAll("treeRoleDeptView");
            });
            $("#loading").center(); //loading的图片显示居中
        });
    </script>

    <script type="text/javascript">
        //初始化组织机构列表
        function initEditDeptTreeview() {
            $("#loading").show();
            $('#editTreeDept').tree({
                url: '/User/GetMyDeptTreeJson_Server?iDeleted=0 ',
                onClick: function (node) {
                    loadDataByOu(node.id);
                }
            });
            $("#loading").fadeOut(500);
        }

        //根据机构加载指定列表
        function loadDataByOu(id) {
            $("#loading").show();
            var queryData = {
                WHC_DeptID: id,
                WHC_Deleted: "0"
            }
            //将值传递给
            InitGrid(queryData);
            $("#grid").datagrid("reload");
            $('#grid').datagrid('uncheckAll');
            $("#loading").fadeOut(500);
        }
        //弹出修改的对话框
        function ShowEditTree() {
                if ($("#txtID").val() == "") {
                    $.messager.alert("提示", "请选择记录");
                    return;
                }
                initEditDeptTreeview();
                var queryData = {}//可添加一些预设条件
                InitGrid(queryData);//初始化Datagrid表格数据
                $("#DivEditUser").dialog('open').dialog('setTitle', '角色包含的用户');
        }
        //实现对DataGird控件的绑定操作
        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/User/Sys_User_Qry_Server',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '系统用户信息',
                iconCls: 'icon-view',
                fit: true,
                height: 500,
                //width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 15,
                pageList: [15, 30],
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                queryParams: queryData,  //异步查询的参数
                columns: [[
                    { field: 'ck', checkbox: true },   //选择
                    { title: 'ID', field: 'IntID', width: 80, sortable: true },
                    { title: '用户编码', field: 'NvcHandNo', width: 80, sortable: true },
                    { title: '用户名/登录名', field: 'NvcName', width: 80, sortable: true },
                    { title: '真实姓名', field: 'NvcFullName', width: 80, sortable: true },
                    {
                        title: '是否删除', field: 'IntDeleted', width: 80, formatter: function (val, rowdata, index) {
                            if (val) {
                                return '<a class="grid_deleted" href="javascript:void(0)" >' + val + '</a>';
                            } else {
                                return '<a class="grid_normal" href="javascript:void(0)" >' + val + '</a>';
                            }
                        }
                    },
                    //{ title: '职务头衔', field: 'NvcTitle', width: 80, sortable: true },
                    //{ title: '移动电话', field: 'NVcMobilePhone', width: 80, sortable: true },
                    //{ title: '办公电话', field: 'NVcOfficePhone', width: 80, sortable: true },
                    //{ title: '邮件地址', field: 'NvcEmail', width: 80, sortable: true },
                    //{ title: '性别', field: 'NvcGender', width: 80, sortable: true },
                    //{ title: 'QQ号码', field: 'NvcQQ', width: 80, sortable: true },
                    { title: '备注', field: 'NvcNote', width: 80, sortable: true }
                ]],
                onLoadSuccess: function () {
                    $(".grid_normal").linkbutton({ text: '正常', plain: true, iconCls: 'icon-ok' });
                    $(".grid_deleted").linkbutton({ text: '已删除', plain: true, iconCls: 'icon-stop' });
                },
                toolbar: [{
                    id: 'btnAddChoise',
                    text: '添加选择',
                    iconCls: 'icon-add',
                    handler: function () {
                        addChoise();//实现添加记录
                    },
                }, '-', {
                    id: 'btnComplete',
                    text: '完成选择',
                    iconCls: 'icon-ok',
                    handler: function () {
                        completeChoise();//完成选择并返回
                    }
                }, '-', {
                    id: 'btnCleare',
                    text: '清空',
                    iconCls: 'icon-remove',
                    handler: function () {
                        cleareChoise();//清空用户选择记录
                    }
                }, '-', {
                    id: 'btnReload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        //实现刷新栏目中的数据
                        $("#grid").datagrid("reload");
                    }
                }],
                onDblClickRow: function (rowIndex, rowData) {
                    $('#grid').datagrid('uncheckAll');
                    $('#grid').datagrid('checkRow', rowIndex);
                }
            });
        };
        //清空标签并加上已选择用户的信息
        var userIdlist = new Array();
        function reloadUserAdd(data) {
            //清空标签
            cleareChoise();
            //清空用户列表
            userIdlist = [];
            for (var i = 0; i < data.length; i++) {             
                var id = data[i].IntID;
                var fullname = data[i].NvcFullName;
                $('#tags').addTag(fullname);
                addUserList.push(id);
                addNameList.push(fullname);
                userIdlist.push(id);
            }
        }

        //实现添加用户记录
        function addChoise() {
            var rows = $("#grid").datagrid("getSelections");
            for (var i = 0; i < rows.length; i++) {
                var id = rows[i].IntID;
                var fullname = rows[i].NvcFullName;
                addUser(id, fullname);
            }
            $('#grid').datagrid('uncheckAll');
        }
        //完成选择并返回
        function completeChoise() {
            var roleId = $('#txtID').val();
            if (roleId != "") {
                var url = '/Role/Sys_Role_UserSave_Server';
                saveAction(url, roleId, addUserList);
            }
            $("#DivEditUser").dialog('close');
            initRoleUsers(roleId);//重新刷新
        }
        //保存机构用户操作
        function saveAction(url, id, newList) {             
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: { roleId: id, newList: newList.join(',') },
                success: function (result) {
                    showTips("操作成功！ ");
                    $('#DivEditUser').dialog('close');
                    reloadRelation();
                },
                error: function (xhr, status, error) {
                    showError("操作失败"); //xhr.responseText
                }
            });
        }
        //清空用户选择记录
        function cleareChoise() {
            $('#tags').importTags('');
            addUserList = new Array();
            addNameList = new Array();
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#tags').tagsInput({
                width: 'auto',
                height: '100px',
                onRemoveTag: function (tag) {
                    var i = addNameList.indexOf(tag);
                    var id = addUserList[i];
                    removeUser(id, tag);
                },
                interactive: false
            });
        });

        var addUserList = new Array();
        var addNameList = new Array();
        function addUser(id, name) {
            if ($.inArray(id, addUserList) == -1) {
                addUserList.push(id);
                addNameList.push(name);
                $('#tags').addTag(name);
            }
        }
        function removeUser(id, name) {
            if ($.inArray(id, addUserList) != -1) {
                addUserList.pop(id);
                addNameList.pop(name);
                $('#tags').removeTag(name);
            }
        }
    </script>
</head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div>
    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <div data-options="region:'west',split:true,title:'角色列表',iconCls:'icon-group-key'" style="width: 250px; padding: 1px;">
            <div title="角色列表" style="padding:5px;height:auto" data-options="iconCls:'icon-organ'">
                <div style="padding: 1px; border: 1px solid #ddd;">
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="roleRefresh" onclick="initTreeFunction()">刷新</a>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="roleExpand" onclick="return false;">展开</a>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="roleCollapse" onclick="return false;">折叠</a>
                </div>
                <div style="padding: 1px; border: 1px solid #ddd;">
                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDelete" onclick="delData()">删除</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnAdd" onclick="addData()">添加</a>
                </div>
                <div>
                    <ul id="treeRole"></ul>
                </div>
            </div>
        </div>
        <div id="tbEdit" data-options="region:'center',split:true,title:'角色详细信息',iconCls:'icon-book'" style="padding:5px;height:auto">
            <div fit="false">
                <div id="tabViewRole" class="easyui-tabs">
                    <div title="角色详细信息" style="padding:5px;height:auto" data-options="iconCls:'icon-view'">
                        <form id="ffAdd" method="post" novalidate="novalidate">
                            <table id="tbRoleInfo" style="height: auto; width: 500px">
                                <tr height="10%">
                                    <td align="left" style="width: 95px">
                                        编号(<font color="red">*</font>)：
                                    </td>
                                    <td align="left">
                                        <input id="txtID" name="IntID" style="width: 50px; background-color: #F0EAEA;" disabled type="text">
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td style="width: 95px" align="left" width="95">
                                        名称(<font color="red">*</font>)：
                                    </td>
                                    <td align="left">
                                        <input id="txtName" style="width: 100%" type="text" maxlength="100" name="NvcName">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="txtCompany_ID">所属公司(<font color="red">*</font>)：</label>
                                    </th>
                                    <td>
                                        <input class="easyui-combobox" type="text" id="txtCompany_ID" name="NvcComID" data-options="required:true,validType:'length[1,50]'" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="txtHandNo">角色编码：</label>
                                    </th>
                                    <td>
                                        <input class="easyui-validatebox" type="text" id="txtHandNo" name="NvcHandNo" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="txtSortCode">排序码：</label>
                                    </th>
                                    <td>
                                        <input class="easyui-validatebox" type="text" id="txtSortCode" name="NvcSortCode" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                    </td>
                                </tr>
                                <tr style="display:none">
                                    <th>
                                        <label for="txtCategory">角色分类：</label>
                                    </th>
                                    <td>
                                        <select class="easyui-validatebox" style="width:100px" id="txtCategory" name="Category"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 95px">
                                        描述：
                                    </td>
                                    <td align="left">
                                        <textarea id="txtNote" style="width: 100%; height: 50px" name="NvcNote"></textarea>
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td style="width: 95px"></td>
                                    <td align="right">
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSave" onclick="saveData()">保存</a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div title="可操作功能" style="padding:5px;height:auto" data-options="iconCls:'icon-key'">
                        <div style="padding: 1px; border: 1px solid #ddd;">
                            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="functionRefresh" onclick="reloadRelation()">刷新</a>
                            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="functionExpand" onclick="return false;">展开</a>
                            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="functionCollapse" onclick="return false;">折叠</a>
                        </div>
                        <div style="padding: 1px; border: 1px solid #ddd;">
                            <input id="chkCheckAllFunction" type="checkbox" onclick="checkAllTree('treeFunctionView', $(this).prop('checked'))">全选&nbsp;&nbsp;
                            <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSaveRoleFunction" onclick="saveMenuFunction()">保存</a>
                        </div>
                        <ul id="treeFunctionView"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="tb" data-options="region:'east',split:true,title:'角色相关信息',iconCls:'icon-book'" style="padding:5px;height:auto;width:230px">
            <form id="Form1" method="post">
                <table>
                    <tr>
                        <td valign="top">
                            <table style="height:auto;width:200px">
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                                    <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                                </td>
                                                <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="5%">
                                                                <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                            </td>
                                                            <td width="95%" align="center">
                                                                <span>包含用户</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                                    <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="30%">
                                    <td>
                                        <select id="lbxUsers" multiple style="height: 350px; width: 200px" />
                                    </td>
                                </tr>
                                <tr align="right">
                                    <td>
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-edit" id="btnAddUser" onclick="ShowEditTree()">编辑</a>&nbsp;&nbsp;
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDeleteUser" onclick="deleteUser()">移除</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!--------------------------编辑角色包含用户的弹出层---------------------------->
    <div id="DivEditUser" class="easyui-dialog" style="width:880px;height:auto;padding:5px 5px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="cc" class="easyui-layout" fit="true" style="width:600px;height:350px;">
            <div data-options="region:'south',split:true" title="选择的用户" style="height:100px;">
                <input name="tags" id="tags" value="" />
            </div>
            <div data-options="region:'west',split:true" title="" style="width:320px;">
                <div id="ttUser" class="easyui-tabs" style="width:100%;height:auto;padding:5px;">
                    <div title="按组织机构查看" style="padding:5px;height:auto" data-options="iconCls:'icon-organ'">
                        <div>
                            <ul id="editTreeDept"></ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            var tabs = $('#ttUser').tabs().tabs('tabs');
                            for (var i = 0; i < tabs.length; i++) {
                                tabs[i].panel('options').tab.unbind().bind('mouseenter', { index: i }, function (e) {
                                    $('#ttUser').tabs('select', e.data.index);
                                });
                            }
                        });
                    </script>
                </div>
            </div>
            <div data-options="region:'center',title:''">
                <table id="grid" title="包含用户" class="easyui-datagrid" fit="true"></table>
            </div>
        </div>
    </div>
</body>
</html>

